body {
    padding: 0px;
    margin: 0px;
    /*font-family: verdana;*/
    font-family: 'Helvetica Neue';
    /*font-weight: 100;*/
    font-size: 10pt;
    color: #222;
}

strong, b {
    color: #333;
    font-weight: bold !important;
}

h1, h2 {
    font-weight: 200;
    font-size: 14pt;
    /*padding-top: 10px;*/
}

.post h1, h2 { border-bottom: 1px solid #ddd; }

.post h1, .post h2 { font-size: 12pt; }

.post { font-size: 10pt; line-height: 13pt; }

h1 a, h2 a {
    text-decoration: none;
    color: black;
}

h1 a:hover, h2 a:hover {
    border-top: 1px solid #ddd;
}

a img {
 /*   border: none;*/
}

img {
    border: 5px solid #444;
}

.img {
  float: left;
}

.img + .img {
  margin-left: 10px;
}

.postmetadata {
    font-size: 8pt;
    color: gray;
}

.postmetadata a {
    color: gray;
}

#sidebar {
    display: none;
    position: absolute;
    top: 100px;
    right: 5px;
}

#header {
    height: 70px;
}

#header a {
    border-bottom: 2px solid rgba(0,0,0,0.2);
    text-decoration: none;
}

#header a:hover {
    border-top: none;
}

#header a:first-child {
  font-size: 1em;
}

#header a {
  font-size: 0.8em;
}

h2:before {
  color: rgba(0,0,0,0.2);
  font-size: 8px;
  margin-left: -18px;
  width: 18px;
}

#header h1, #header h2 {
    width: 600px;
    margin-left: auto;
    margin-right: auto;

    border: none;
/*    margin: 0px;*/
    margin-top: 0;
    padding-left: 0;
    padding-top: 25px;
    color: #fff;
    font-size: 12pt;
    /*font-family: verdana;*/
    /*font-weight: 100;*/
}

#nav {
    display: none;
    background-color: #c3d4be; /*b6ceaa;*/
    height: 20px;
    border-bottom: 1px solid #889988;
    border-top: 1px solid #889988;
}

#navcontents {
    width: 600px;
    margin: 0 auto 0 auto;
    padding-top: 2px;
    height: 20px;
}

#navcontents ul {
    margin: 0px;
    padding: 0px;
}

#navcontents ul a {
    color: #22271f;
    text-decoration: none;
}

#navcontents ul li {
    display: inline;
}

#navcontents ul li + li {
    border-left: 1px solid #22271f;
    padding-left: 4px;
}

#navcontents ul li:hover a {
    text-decoration: underline;
}

#main {
    width: 600px;
    margin: 10px auto 0px auto;
    background-color: #fff;
}

.done {
}

.undone {
    color: #888;
}

.description {
    background-color: #eee;
    margin-left: 10px;
    margin-bottom: 4px;
    border: 1px solid #888;
    padding: 3px;
    color: #666;
    font-size: 8pt;
}
.wp-smiley {
    border: none;
}

/*
     FILE ARCHIVED ON 18:52:24 Dec 14, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:00:41 Jul 06, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 474.561 (3)
  esindex: 0.012
  captures_list: 495.815
  CDXLines.iter: 13.293 (3)
  PetaboxLoader3.datanode: 96.37 (4)
  exclusion.robots: 0.259
  exclusion.robots.policy: 0.241
  RedisCDXSource: 2.3
  PetaboxLoader3.resolve: 503.799 (2)
  load_resource: 155.825
*/